<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="NowInStore\CatalogBuilder\Controller\AbstractController\CatalogBuilderLoaderInterface" type="\NowInStore\CatalogBuilder\Controller\AbstractController\CatalogBuilderLoader" />
</config>
